$customer.getAddress()
${purchase.getTotal()}
$page.setTitle( "My Home Page" )
$person.setAttributes( ["Strange", "Weird", "Excited"] )

$foo.bar[$i].junk
$foo.callMethod('sdf')[1]
$foo["apple"]["name"]
