#macro( inner $foo )
  inner : $foo
#end

#macro( outer $foo )
   #set($bar = "outerlala")
   outer : $foo
#end
## 此处求值比较奇怪，为啥要内部求值，而不是字符串直接求值
#set($bar = 'calltimelala')
#outer( "#inner($bar)" )
#set( $size = "Big" )
#set( $name = "Ben" )

#set($clock = "${size}Tall$name" )

The clock is $clock
