  ###if($pg.getPage() > 1)
    ##<a class="prev" style="border-right:0px " href="$tmpUrl&page=1">首页</a>
  ###end

  ###foreach($p in $pg.slides())
    ###if($pg.isDisabledPage($p))
      ##<span class="page-cur">$p</span>
    ###else
      ##<a href="$tmpUrl&page=$p">$p</a>
    ###end
  ###end

  #foreach($metaTag in $page.metaTags.entrySet())
    $metaTag.key => $do($metaTag.value)
  #end

  ###macro(a $a $b)
    ##$a $b
  ###end

  ###macro(b $aa $bb)
    ###a($aa, $bb)
  ###end

  ###b($aaa $bbb())

  ##$foo.bar("title")

  ##$foo.fo($title, $page.name)

  ##$dateUtil.ymdFormat($certi.startDate)
