#macro(jsonifyGetList $lists)
  #foreach($key in $lists) [
    "$key" #jsonifyGetLastComma($lists $velocityCount)
  ] #end
#end

#macro(jsonifyGetLastComma $lists $num)
  #set($len = $lists.size())
  #if ($len >= $num) , #end
#end

#macro(jsonifyGetString $var)
  "$var"
#end

#macro(jsonifyGetEntryMap $lists)
  #foreach($list in $lists) {
    "$list.key" : "$list.value" #jsonifyGetLastComma($lists $velocityCount)
  } #end
#end

#macro(jsonifyGetKeyMap $lists)
  #foreach($list in $lists) {
    "$list" : "$lists.get($list)" #jsonifyGetLastComma($lists $velocityCount)
  } #end
#end
