
$customer.getAddress()
${purchase.getTotal()}
$page.setTitle( "My Home Page" )
$person.setAttributes( ["Strange", "Weird", "Excited"] )

$foo.callMethod('haha')[1]
$foo["apple"]["name"]

$foo[$bar[$user.getUserName("hanwen")]]
$foo($bar.total()[$user.name])[0]
