## list
#foreach($a in $foo)
  $a
#end

## maps
#foreach($b in $bar.foo.entrySet())
  $b.key = > $b.value
#end

## maps
#foreach($b in $bar.foo1.keySet())
  $b
  ##$bar.foo1.get($b)
#end

## object
#foreach($b in $bar.foo2)
  $b.a
  $b.c
  $b.d
#end
